@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import "./vars.css";

body {
  margin: 0;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-wrap: break-word;
  color: var(--color-primary);
}

button {
  font-family: "Roboto";
}
